.c-list {
  padding: 0;
  list-style: none;

  &__title {
    margin-top: 1.5rem;
    font-family: $font-praktika-bold;
    font-size: 0.6rem;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__item {
    position: relative;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: $col-orange;

    &::after {
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      content: "";
      border-bottom: solid $col-txt-gray-light 3px;
    }

    &--spaced {
      margin-top: 5rem;
    }
  }

  &-item__inner {
    position: absolute;
    bottom: 0.8rem;
    left: 0;
    font-size: 1.6rem;
    line-height: 100%;
    text-transform: uppercase;

    &-main {
      padding-right: 1rem;
    }

    &-sub {
      padding-top: 0.5rem;
      font-size: 0.6rem;
      color: $col-black;
      letter-spacing: 0.1em;
    }

    &-icon {
      position: absolute;
      right: 0;
      bottom: 1rem;

      &--pkp {
        max-width: 121px;
      }

      &--icc {
        max-width: 117px;
      }

      &--iso {
        max-width: 80px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__title {
      margin-top: 0.5rem;
    }

    &__item {
      padding: 0.5rem 0;
      margin-bottom: 1rem;
      font-size: 1rem;

      &::after {
        width: 100%;
      }
    }

    &-item__inner-icon {
      right: 0;
    }
  }

  @include media-breakpoint-down(xs) {
    &-item__inner {
      font-size: 1.2rem;
    }
  }
}
