.c-menu {
  margin: 1rem;

  &__link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 0.6rem;
    color: $col-nav-link;
    text-transform: uppercase;
  }

  &__link:hover {
    color: $col-white;
  }

  &__toggle {
    float: right;
    padding-top: 0.6rem;
    margin-left: 0.5rem;
  }

  &__toggle--open-icon,
  &__toggle--close-icon {
    max-width: 28px;
  }

  &__toggle--open.h-open {
    display: none !important;
  }

  &__toggle--close.h-open {
    display: inline-block !important;
  }

  &--mobile {
    width: 100%;
    margin-left: 0;
    list-style: none;
  }

  &--mobile__list-item {
    padding: 1.5rem 0;
    border-bottom: 1px solid $col-banner-gray-dark;
  }

  &--mobile__link {
    padding: 1.5rem 0;
    font-size: 1.6rem;
    color: $col-white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &--mobile__contact-link {
    padding: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}
