.c-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2 * 2rem);
  margin: 0 2rem;
  overflow: visible;

  &::after {
    position: absolute;
    top: 56px;
    left: 0;
    width: calc(100% - 2 * 2rem - 0.5rem);
    content: "";
    border-bottom: solid $col-orange 3px;
  }

  &__logo {
    // position: relative;
    float: left;
    margin: 1rem 0;
  }

  &__logo-img {
    max-width: 187px;
  }

  //instead of &__logo-img
  // &__logo::after {
  //   left: 0;
  //   // transform: scale(0.5);
  //   max-width: 187px;
  // }

  &__menu {
    float: right;
  }

  // MOBILE
  &--mobile {
    position: absolute;
    top: 60px;
    left: 100%;
    z-index: 1000;
    width: 100%;
    height: calc(100% - 60px);
    padding: 2rem;
    background: $col-bg-gray-dark;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }

  &--mobile.h-open {
    left: 0;
    opacity: 1;
  }

  &--mobile__menu {
    width: calc(100% - 4rem);
  }
}
