.firma {
  position: relative;
  overflow: hidden;
}

.firma__quote-start {
  padding-bottom: 1.5em;
}

.firma__quote {
  padding-bottom: 1em;
  font-size: 2rem;
  line-height: 150%;
}

.firma__quote-author {
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
}

.firma__quote-div {
  position: relative;
  z-index: 1000;
  padding-bottom: 2rem;
}

.firma__mobile-foto {
  width: 70%;
  margin: 0 auto;
}

.firma__bg {
  position: relative;
}

.firma__bg-img {
  width: 100%;
}

.firma__knowledge {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
}

.doswiadczenie__cover-img {
  width: 100%;
  overflow: hidden;
  background: url("../img/doswiadczenie-bg.jpg") no-repeat 15%;
  background-size: cover;
}

.doswiadczenie__icon-div {
  max-width: 260px;
  margin: 0 auto;
}

.doswiadczenie__icon {
  width: 100%;
}

.js-doswiadczenie__x-lat {
  margin-bottom: 1.6rem;
}
