.firma {
  position: relative;
  margin-top: 4rem;
  overflow: hidden;
}

.firma__quote-start {
  padding-bottom: 1.5em;
}

.firma__quote {
  padding-bottom: 1em;
  font-size: 2rem;
  line-height: 150%;
}

.firma__quote-author {
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
}

.firma__quote-div {
  margin-bottom: 4rem;
}

.firma__foto {
  position: absolute;
  top: 0;
  right: -4rem;
  width: auto;
}

.firma__mobile-foto {
  width: 100%;
}

.firma__foreground {
  position: relative;
}

.firma__foreground-img {
  width: 100%;
}

.firma__foreground-texts {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
}

.section__p--firma {
  padding: 0;
  line-height: 150%;
}

.doswiadczenie__cover-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: url("../img/doswiadczenie__bg.png") no-repeat 15%;
  background-size: cover;
}

.doswiadczenie__icon-div {
  max-width: 260px;
  margin: 0 auto;
}

.doswiadczenie__icon {
  width: 100%;
}

.js-doswiadczenie__x-lat {
  margin-bottom: 1.6rem;
}
