.invalid-feedback {
  font-size: 1rem;
  color: $col-invalid;
  opacity: 0;

  &.show {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  @include media-breakpoint-down(md) {
    font-size: 0.8rem;
  }
}

.js-invalid {
  border-color: $col-invalid;
}

.js-msgSent {
  position: absolute;
  bottom: -1.5rem;
  font-size: 1rem;
  color: $col-white;
  opacity: 0;

  &.show {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  @include media-breakpoint-down(md) {
    font-size: 0.8rem;
  }
}
