*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  min-width: 320px;
  font-family: $font-praktika-medium;
}

.container-fluid {
  padding: 0;
}

.container {
  max-width: 1600px;
  padding: 0;
}

.row {
  margin: 0;
}

.top {
  position: relative;
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  background: url("../img/banner-bg.jpg") no-repeat 75%;
  background-size: cover;
}

.banner {
  padding-top: 60px;
}

.repair1,
.repair2,
.production1,
.production2 {
  margin-bottom: 6rem;
}

.experience__bg {
  width: 100%;
  overflow: hidden;
  background: url("../img/experience-bg.jpg") no-repeat 15%;
  background-size: cover;
}

.experience__logo {
  width: 243.5px;
  margin: 0 auto;
}

.experience__logo-img {
  max-width: 243.5px;
}

@include media-breakpoint-down(sm) {
  .repair1,
  .repair2,
  .production1,
  .production2 {
    margin-bottom: 4rem;
  }

  .experience__logo-img {
    margin-bottom: 1.6rem;
  }
}

@include media-breakpoint-down(xs) {
  .repair1,
  .repair2,
  .production1,
  .production2 {
    margin-bottom: 3rem;
  }
}
