.h-white {
  color: $col-white !important;
}

.h-black {
  color: #000 !important;
}

.h-dark {
  color: $col-txt-gray !important;
}

.h-light {
  color: $col-txt-gray-light !important;
}

.h-orange {
  color: $col-orange !important;
}

.h-border-bottom {
  border-bottom: solid 4px;
}

.h-border-bottom--orange {
  border-bottom: solid $col-orange 4px;
}

.h-border-bottom--thin-gray {
  border-bottom: solid $col-banner-gray-dark 2px;
}

.h-txt-divider {
  padding-right: 0.3em;
  padding-left: 0.3em;
}

.h-btn-divider {
  padding: 0.6rem;
  margin: 0.6rem 1.2rem 0.6rem 0;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.h-current-lang {
  color: $col-txt-gray-light !important;
}

.l-container-padding {
  padding-right: 4rem;
  padding-left: 4rem;
}

.l-last-element {
  margin-bottom: 3rem;
}

.l-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.l-col-clean {
  padding: 0;
}

.l-col-pad-right {
  padding: 0;
  padding-right: 2rem;
}

.l-col-pad-left {
  padding: 0;
  padding-left: 2rem;
}

.l-col-padding {
  padding: 0.5rem;
}
