.h-white {
  color: $col-white !important;
}

.h-dark {
  color: $col-txt-gray !important;
}

.h-orange {
  color: $col-orange !important;
}

.h-txt-divider {
  padding-right: 0.3em;
  padding-left: 0.3em;
}

.h-btn-divider {
  padding: 0.6rem;
  margin: 0.6rem 1.2rem 0.6rem 0;
  font-family: $font-praktika-bold;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
