.h-white {
  color: #fff !important;
}

.h-black {
  color: #000 !important;
}

.h-dark {
  color: $col-txt-gray !important;
}

.h-light {
  color: $col-txt-gray-light !important;
}

.h-orange {
  color: $col-orange !important;
}

.h-border-bottom {
  border-bottom: solid 4px;
}

.h-border-bottom--orange {
  border-bottom: solid $col-orange 4px;
}

.h-border-bottom--thin-gray {
  border-bottom: solid $col-banner-gray-dark 2px;
}

.l-container-padding {
  padding-right: 4rem;
  padding-left: 4rem;
}

.l-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.l-col-clean {
  padding: 0;
}

.l-col-padding {
  padding: 0.5rem;
}
