.l-container-padding {
  padding-right: 4rem;
  padding-left: 4rem;

  @include media-breakpoint-down(md) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.l-last-element {
  margin-bottom: 3rem;

  @include media-breakpoint-down(xs) {
    margin-bottom: 2rem;
  }
}

.l-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.l-col-clean {
  padding: 0;
}

.l-col-pad-right {
  padding: 0;
  padding-right: 2rem;

  @include media-breakpoint-down(lg) {
    padding-right: 1rem;
  }

  @include media-breakpoint-down(md) {
    padding: 0;
  }
}

.l-col-pad-left {
  padding: 0;
  padding-left: 2rem;

  @include media-breakpoint-down(lg) {
    padding-left: 1rem;
  }

  @include media-breakpoint-down(md) {
    padding: 0;
  }
}

.l-form-container {
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 1010;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: $col-bg-gray-dark;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.l-form-container.h-open {
  left: 0;
  opacity: 1;
}
