.c-map {
  position: relative;
  overflow: hidden;
}

.c-map__bg {
  position: relative;
  width: 100%;
  height: 800px;
  background: url("../img/c-map__bg.jpg") no-repeat 70% 80%;
  background-size: cover;
}

.c-map__foreground {
  max-width: 90%;
}

.c-contact {
  width: 100%;
  padding: 0.5rem;
}

.c-contact__texts {
  padding: 1rem 0;
}

.c-list__title {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.c-contact__name {
  max-width: 100%;
}

.c-contact__paragraph {
  margin: 0.5rem 0 1rem;
  letter-spacing: 0.1em;
}

.c-contact__icon {
  padding-right: 1rem;
}
