.section__cover-img {
  position: relative;
  width: 100%;
  height: 650px;
  overflow: hidden;
}

.section__title {
  position: relative;
  top: 12%;
  text-shadow: 0 0 10px #000;
}

.section__cover-img--naprawa1 {
  background: url("../img/naprawa1__foto.jpg") no-repeat 80% 100%;
  background-size: cover;
}

.section__cover-img--naprawa2 {
  background: url("../img/naprawa2__foto.jpg") no-repeat 35% 5%;
  background-size: cover;
}

.section__header {
  margin: 2rem 0;
  letter-spacing: 0.1em;
}

.section__p {
  margin-bottom: 1.6rem;
  letter-spacing: 0.1em;
}

.section__p--3 {
  margin-bottom: 0;
}

.c-list {
  padding: 0;
  list-style: none;
}

.c-list__item {
  position: relative;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.c-list--num {
  text-transform: uppercase;
  counter-reset: list-counter;
}

.c-list--num__item {
  position: relative;
  padding: 1rem 0;
  margin: 2rem 0;
  font-size: 0.6rem;
}

.c-list--num__item::before {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 4rem;
  color: $col-txt-gray-light;
  content: counter(list-counter) ". ";
  counter-increment: list-counter;
}

.c-list__item::after,
.c-list--num__item::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: calc(100% - 1rem);
  content: "";
  border-bottom: solid $col-txt-gray-light 3px;
}

.c-list--num-item__inner {
  position: absolute;
  bottom: 1rem;
  left: 5rem;
  padding-right: 1rem;
}

.section__cover-img--produkcja1 {
  background: url("../img/produkcja1__foto.jpg") no-repeat 30% 40%;
  background-size: cover;
}

.section__cover-img--produkcja2 {
  background: url("../img/produkcja2__foto.jpg") no-repeat 40% 10%;
  background-size: cover;
}
