.top {
  position: relative;
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  background: url("../img/banner-bg.jpg") no-repeat 75%;
  background-size: cover;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2 * 2rem);
  margin: 0 2rem;
  border-bottom: solid $col-orange 3px;
}

.nav-logo {
  float: left;
  margin: 1rem 0;
}

.nav-menu {
  float: right;
}

.nav-menu__list {
  margin: 1rem 0.5rem;
}

.c-link {
  text-decoration: none;
}

.c-link:hover {
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}

.c-link--nav {
  padding: 0.5rem;
  color: $col-nav-link;
  text-transform: uppercase;
}

.c-link--nav:hover {
  color: #fff;
}

.nav-menu__lang {
  padding: 1rem;
}

.banner {
  padding-top: 56px;
}

.banner-link {
  padding: 0.6rem;
  margin: 0.6rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.banner-link--with-logo::after {
  float: right;
  content: url("../img/banner__icon--oferta.png");
}

// tablet and mobile

.menu-toggle {
  float: right;
  padding-top: 0.6rem;
  margin-left: -0.2rem;
}

.menu-toggle--open.h-open {
  display: none !important;
}

.menu-toggle--close.h-open {
  display: inline-block !important;
}

.nav-mobile {
  position: absolute;
  top: 56px;
  left: 100%;
  z-index: 1000;
  width: 100%;
  height: calc(100% - 56px);
  padding: 2rem;
  background: $col-bg-gray-dark;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.nav__mobile-menu {
  width: calc(100% - 64px);
}

.nav-mobile.h-open {
  left: 0;
  opacity: 1;
}

.c-link--nav-mobile {
  padding: 1.5rem 0;
  color: #fff;
  letter-spacing: 0.1em;
}

.nav-mobile__list {
  width: 100%;
  margin-left: 0;
  list-style: none;
}

.nav-mobile__list-item {
  padding: 1.5rem 0;
  border-bottom: 1px solid $col-banner-gray-dark;
}

.c-link--nav-mobile-kontakt {
  padding: 0;
  font-size: 0.8rem;
}

.nav-mobile__lang {
  padding: 1rem 0;
}
