.top {
  position: relative;
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  background: url("../img/banner-bg.jpg") no-repeat 75%;
  background-size: cover;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2 * 2rem);
  margin: 0 2rem;
  overflow: visible;
}

.nav::after {
  position: absolute;
  top: 56px;
  left: 0;
  width: calc(100% - 2 * 2rem - 0.5rem);
  content: "";
  border-bottom: solid $col-orange 3px;
}

.nav-logo {
  float: left;
  margin: 1rem 0;
}

.nav-menu {
  float: right;
  margin-right: 3rem;
}

.nav-menu__list {
  margin: 1rem;
}

.c-link {
  text-decoration: none;
}

.c-link:hover {
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}

.c-link--nav {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: $col-nav-link;
  text-transform: uppercase;
}

.c-link--nav:hover {
  color: #fff;
}

.c-lang {
  position: absolute;
  top: 1rem;
  right: 0;

}

.c-lang__toggle {
  cursor: pointer;
}

.c-lang__toggle-txt {
  padding: 1rem 0.5rem 0.5rem !important;
}

.c-lang__dd {
  position: absolute;
  top: 1.7rem;
  padding: 0;
  list-style: none;
  background: transparent;
}

.c-lang-dd__option {
  position: relative;
  padding: 0.3rem 1rem 0.3rem 0;
  text-align: center;
}

.c-lang-dd__option::before {
  position: absolute;
  top: 0.1rem;
  left: 0;
  width: 3rem;
  content: "";
  border-top: 1px solid $col-nav-link;
}

.c-lang-dd__option-link {
  padding: 0.5rem 1.5rem 0.5rem 0.5rem !important;
}

.banner {
  padding-top: 60px;
}

.banner-link {
  padding: 0.6rem;
  margin: 0.6rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.banner-link--with-logo::after {
  float: right;
  content: url("../img/banner__icon--oferta.png");
}

// tablet and mobile

.menu-toggle {
  float: right;
  padding-top: 0.6rem;
}

.menu-toggle--open.h-open {
  display: none !important;
}

.menu-toggle--close.h-open {
  display: inline-block !important;
}

.nav-mobile {
  position: absolute;
  top: 60px;
  left: 100%;
  z-index: 1000;
  width: 100%;
  height: calc(100% - 60px);
  padding: 2rem;
  background: $col-bg-gray-dark;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.nav__mobile-menu {
  width: calc(100% - 4rem);
}

.nav-mobile.h-open {
  left: 0;
  opacity: 1;
}

.c-link--nav-mobile {
  padding: 1.5rem 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.nav-mobile__list {
  width: 100%;
  margin-left: 0;
  list-style: none;
}

.nav-mobile__list-item {
  padding: 1.5rem 0;
  border-bottom: 1px solid $col-banner-gray-dark;
}

.c-link--nav-mobile-kontakt {
  padding: 0;
  font-size: 0.8rem;
}

.nav-mobile__lang {
  padding: 1rem 0;
}
