@font-face {
  font-display: swap;
  font-family: "Praktika Bold";
  src:
    url("fonts/praktika-boldextended-webfont.eot"),
    url("fonts/praktika-boldextended-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/praktika-boldextended-webfont.woff2") format("woff2"),
    url("fonts/praktika-boldextended-webfont.woff") format("woff"),
    url("fonts/praktika-boldextended-webfont.ttf") format("truetype"),
    url("fonts/praktika-boldextended-webfont.svg#praktikabold_extended") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-display: swap;
  font-family: "Praktika Medium";
  src:
    url("fonts/praktika-medium-webfont.eot"),
    url("fonts/praktika-medium-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/praktika-medium-webfont.woff2") format("woff2"),
    url("fonts/praktika-medium-webfont.woff") format("woff"),
    url("fonts/praktika-medium-webfont.ttf") format("truetype"),
    url("fonts/praktika-medium-webfont.svg#praktikamedium") format("svg");
  font-style: normal;
  font-weight: normal;
}

.c-menu__link,
.c-menu--mobile__link,
.c-lang-dd__option-link,
.c-lang--mobile__item,
.c-btn,
.c-section__header,
.c-cover__title,
.c-quote__header,
.c-quote__text,
.c-quote__author,
.c-quote__author-position,
.c-title,
.c-list__title,
.c-contact__name-text,
.h-btn-divider {
  font-family: "Praktika Bold", "Source Sans Pro", "Lucida Grande", sans-serif;
}

.app,
.c-menu--mobile__contact-link {
  font-family: "Praktika Medium", "Source Sans Pro", "Lucida Grande", sans-serif;
}

.c-title {
  padding-bottom: 3rem;
  font-size: 3.5rem;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
