.h-h1 {
  margin-bottom: 3rem;
  font-size: 3.5rem;
  line-height: 110%;
}

.h-txt24 {
  font-size: 1.6rem;
}

.h-txt16 {
  font-size: 1rem;
}

.h-txt10 {
  font-size: 0.8rem;
}

.h-txt9 {
  font-size: 0.6rem;
}
