@import "styles/bootstrap";
@import "styles/variables";
@import "styles/typography";
@import "styles/general";
@import "styles/c-link";
@import "styles/c-btn";
@import "styles/c-nav";
@import "styles/c-menu";
@import "styles/c-lang";
@import "styles/c-cover";
@import "styles/c-section";
@import "styles/c-list";
@import "styles/c-num-list";
@import "styles/c-quote";
@import "styles/about";
@import "styles/c-map";
@import "styles/c-contact";
@import "styles/helpers";

@include media-breakpoint-down(lg) {
  .l-col-pad-right {
    padding-right: 1rem;
  }

  .l-col-pad-left {
    padding-left: 1rem;
  }

  .c-nav::after {
    width: calc(100% - 2 * 2rem + 0.4rem);
  }

  .c-menu {
    margin: 1rem 0.2rem;
  }

  .c-menu__link {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
  }

  .c-quote__text {
    font-size: 1.6rem;
  }
}

@include media-breakpoint-down(md) {
  .h-h1,
  .c-title,
  .c-cover__title, {
    font-size: 2.8rem;
  }

  .l-container-padding {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .l-col-padding,
  .l-col-pad-right,
  .l-col-pad-left {
    padding: 0;
  }

  .c-nav::after {
    width: 100%;
  }

  .c-cover {
    height: 400px;
  }

  .c-quote__text {
    font-size: 1rem;
  }

  .c-list__title {
    margin-top: 0.5rem;
  }

  .c-list__item {
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .c-list__item::after {
    width: 100%;
  }

  .c-list-item__inner-icon {
    right: 0;
  }

  .c-map__fg {
    max-width: 94%;
  }
}

@include media-breakpoint-down(sm) {
  .repair1,
  .repair2,
  .production1,
  .production2 {
    margin-bottom: 4rem;
  }

  .experience__logo-img {
    margin-bottom: 1.6rem;
  }

  .c-map__bg {
    height: 400px;
    background-position: 100% 20%;
  }

  .c-contact__texts {
    padding: 2rem 0;
  }
}

@include media-breakpoint-down(xs) {
  // .h-h1,
  .c-title,
  .c-cover__title {
    padding-bottom: 2rem;
    font-size: 1.6rem;
  }

  // .h-txt24,
  .c-menu--mobile__link,
  .c-lang--mobile__item,
  .c-section__header,
  .c-quote__header,
  .c-list-item__inner {
    font-size: 1.2rem;
  }

  // .h-txt16,
  .c-section__text,
  .c-quote__author {
    font-size: 0.8rem;
  }

  // .h-txt10,
  .c-contact__text,
  .c-contact__name-text {
    font-size: 0.6rem;
  }

  .repair1,
  .repair2,
  .production1,
  .production2 {
    margin-bottom: 3rem;
  }

  .c-btn {
    margin-right: 0;
    margin-left: 0;
  }

  .c-cover {
    height: 350px;
  }

  .c-section__header {
    margin: 1.2rem 0;
  }

  .c-section__text {
    margin-bottom: 1rem;
  }

  .c-num-list__item {
    margin-bottom: 0.5rem;
  }

  .c-num-list__item::after {
    bottom: 0.5rem;
    width: 100%;
  }

  .c-num-list-item__inner {
    padding-right: 0;
    font-size: 0.7rem;
  }

  .c-contact__name-img {
    max-width: 160px;
  }

  .c-contact__name-txt {
    font-size: 0.6rem;
  }

  .l-last-element {
    margin-bottom: 2rem;
  }
}
