@import "styles/bootstrap";
@import "styles/variables";
@import "styles/typography";
@import "styles/general";
@import "styles/top";
@import "styles/sections";
@import "styles/firma";
@import "styles/helpers";

@include media-breakpoint-down(lg) {
  .firma__quote {
    font-size: 1.6rem;
  }
}

@include media-breakpoint-down(md) {
  .h-h1 {
    font-size: 2.8rem;
  }

  .l-container-padding {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .l-col-padding {
    padding: 0;
  }

  .section__cover-img {
    height: 400px;
  }

  .firma__quote {
    font-size: 1rem;
  }
}

@include media-breakpoint-down(xs) {
  .h-h1 {
    padding-bottom: 2rem;
    font-size: 1.6rem;
  }

  .h-txt24 {
    font-size: 1rem;
  }

  .h-txt16 {
    font-size: 0.8rem;
  }

  .h-txt10 {
    font-size: 0.6rem;
  }

  .section__header {
    margin: 1.2rem 0;
  }

  .section__p {
    margin-bottom: 1rem;
  }

  .c-section {
    padding-bottom: 2rem;
  }

  .l-last-element {
    margin-bottom: 2rem;
  }

  .section__list-item--num {
    margin-bottom: 1rem;
  }

  .firma__quote-div {
    margin-bottom: 2rem;
  }
}
